/**
almost black: #0e1434
basic blue:   #045491
light blue:   #4285f4

**/

/* bare tags */
body{
  font-family: sans-serif; 
}
h1,h2,h3,h4,h5{
  margin: 0; 
}
select{
  padding: 2px;
}
table, td, th{
  /*border: 1px solid black;*/
}
table tr{
  border: 1px solid black;
}
th{
  padding-top: 3px;
}
td {
  padding: 3px;
}
form{
  display: flex;
  margin-top: 1em;
justify-content: space-around;
}
label{
   padding: 3px 0; 
}
select::first{
  margin-right: 1em;
}
/* ids */
#wrapper{
  margin: 0 auto; 
  width: 80%;
  max-width: 950px;
}
#wrapper #header{
  border-bottom: 5px solid #045491;
  margin-bottom: 0;
}

#wrapper #header h1{
  margin-bottom: 0;
  color: #0e1434;
}
#wrapper #header h2{
  margin-top: 0;
  color: #045491; 
  margin-bottom: .25em;
}
#wrapper #main{
  margin-top:0;
  border: 1px sold #045491;
  border-top: 5px solid #4285f4;
  padding-top: 0.5em;
}

/* classes */
.flex-container {
  display: flex;
  flex-direction: row;
align-items: stretch; 

}
.left, .right{
  padding: 1em;
flex-grow: 1;
}
.rigs{
 /*display:none;*/
}
